* {

  box-sizing:border-box;
  margin:0;
  padding:0;

}
h1{
  justify-content: center;
  display:grid;
}
html, body {

  height:100%;
  width:100%;

}


body {

  align-content:space-around;
  background-color:darkslategray;
  color:#ffffff;
  display:grid;
  justify-content:center;

}
p{
  text-align: center;
  font-size: 20px;
}

canvas {
  background-color:#ffffff;
}