* {
    box-sizing: border-box;
}
body{
    margin:0px;
    
}
head{
    
}
nav{
    background-color:rgb(95,95,95);
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 5px;
    position: fixed;
    z-index:5;
    top:0px;
     
    
}
ul li{
    display:inline-block;
    margin:0px 30px;
    font-family: "Julius Sans One";
    letter-spacing: 1px;
    font-weight: 600;
    color:whitesmoke;
}
.socmed:hover,li:hover{
    color: lightyellow;
    border-bottom: 2px solid #fff;
}
.all{

    width: 100%;
    height: 2000px;
    background-image: url(img/particles.png);
}
footer{
    background-color:rgb(95,95,95);
    min-width:800px;
    height: 80px;
    padding: 5px;
    text-align: center;

       
}
p{
    margin:0px 10px;
    font-family: "Lato";
    text-align: justify;
    
}
footer p{
    font-size:12px;
    padding: 15px;
    font-family: "Julius Sans One";
    letter-spacing: 1px;
    font-weight: 600;
    color:whitesmoke;
    margin:0px 30px;
    text-align: center;
    
}
.socmed{
    position: relative;
    top:8px;
    width: 20px;
    height:20px;
    margin:0px 20px 8px 20px;
    border-radius: 20%; 
}
.grid{
    position: relative;
    top: 60px;
    grid-template: 1fr 1fr/1fr 1fr; 
    width: 95%;
    height: auto;
    
    margin:10px auto;
    display: grid;
    grid-gap:20px;


}
.about-me-pic,.about-me, .Skill, .Hobby{
    background-color: rgb(240, 240, 240);
    width: 500px;
    height:500px;
    margin:30px auto;
    border: 2px gray solid;
    padding: 10px;
    border-radius: 10%;
    opacity: 0.7;
}

h2{
    text-align: center;
    font-family:"Julius Sans One";
}
.about-me-pic img{
    position: relative;
    bottom: 20px;
    margin:20px;
    width: 400px;
    height: auto;
    border-radius: 12%;
}

.Journey{
    margin: 80px 60px auto;
    text-align: justify;
    position: relative;
    opacity: 0.7;
}
.Journey p{
    margin:20px;
    
}
.journey-grid{
    display: grid;
    grid-template: repeat(2,1fr) / repeat(4,1fr);
    grid-gap: 20px;
    margin:20px auto;
    width: 80%;
    height: auto;
    padding: 40px;
    padding-right: 20px;
    

}
.journey-grid img{
width: 200px;
height:200px;
text-align: center;
border-radius: 15%;
border: 2px solid gray;
opacity: 0.8;
border-radius: 4px;
padding: 5px;
object-fit: cover;
}

.journey-grid img:hover{

    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
a{
    text-decoration: none;
    color: whitesmoke;
}